templates/simple_screener/simple_screener_flow.json
{
  "name": "simple_screener_flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert analyst with in-depth knowledge of strategic management (using frameworks such as PESTLE, SWOT, Porter), geopolitics and international relations (analysis of techno-nationalism, sanctions policy, supply chains), and macroeconomics and market theory. You specialize in deconstructing and recombining frameworks for customized criteria, assessing the net effect of geopolitical risks (sanctions) and support (subsidies), and identifying sectors with \"economic rent\" (high demand + inelastic supply).\n\nYour task: Identify 5 potential U.S. sectors that meet the following criteria:\n\n1. Strategic importance:\n   - Fundamental importance for technological sovereignty, economic growth, and national security of the U.S.\n   - In focus of government policy and corporate strategies (de-risking, government support, investment programs)\n\n2. Demand and supply:\n   - Explosive and irreversible demand for sector's products or services\n   - Supply is inelastic with barriers to entry for new competitors\n\n3. Innovativeness and technological maturity:\n   - Identify the stage of development (emerging, growth, or maturity)\n   - Innovation indicators: patents, startups, R&D activity\n\n4. Geopolitical context:\n   - Provides strategic advantage for U.S. over other countries (China, EU)\n   - Important in global supply chains\n\n5. Risks and resilience:\n   - Key risks: dependence on raw materials, political risks, technological failures\n\nProvide detailed analysis for each sector explaining why it meets these criteria.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        460,
        300
      ],
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "Sector Analysis Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        680,
        120
      ],
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "Claude for Sector Analysis",
      "credentials": {
        "anthropicApi": {
          "id": "NasIdgbSm8kLTASn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n  \"sector_name\": \"Name of the sector\",\n  \"strategic_importance\": \"Detailed explanation of strategic importance\",\n  \"demand_supply_analysis\": \"Analysis of demand/supply dynamics and barriers to entry\",\n  \"innovation_stage\": \"Stage: emerging/growth/maturity with innovation indicators\",\n  \"geopolitical_context\": \"Strategic advantage and supply chain importance\",\n  \"risks_resilience\": \"Key risks and resilience factors\",\n  \"overall_score\": \"Rating from 1-10\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        680,
        480
      ],
      "id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
      "name": "Sector Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in corporate finance (fundamental analysis, financial statements analysis - Income Statement, Balance Sheet, Cash Flow), valuation of intangible assets (R&D, patents, management quality assessment), and Equity Research practice (screening, financial modeling - DCF, Comps, stock pitch writing). You specialize in quality metrics (FCF over EPS), capital allocation assessment, and building clear comparative matrices for decision-making.\n\nBased on the sector analysis results:\n{{ JSON.stringify($json.output, null, 2) }}\n\nYour task: For each of the identified sectors, find and rank the top 3 public U.S. companies (total up to 15 companies) that meet these criteria:\n\n1. Company selection:\n   - Public companies with highest potential to be sector leaders\n   - Strong reasons and greatest chance to lead the sector\n\n2. Evaluation criteria:\n   - Financial metrics: revenue growth, free cash flow (FCF), moderate debt levels\n   - Innovativeness: technologies, R&D spending, patents, new products\n   - Management: experience, strategic decisions, execution capability\n   - Risks: debt burden, supplier dependence, regulatory risks\n   - Institutional investors: presence of large funds as shareholders (preferable)\n\n3. Comparison:\n   - Provide concise overview with comparison tables (multiples, growth rates, innovation metrics)\n   - For each sector, conclude which company is the best and why\n\n4. Time horizon and scenarios:\n   - Investment horizon: 2-5 years\n   - Scenario analysis for each company: optimistic, base, pessimistic\n\nProvide detailed analysis with all metrics and clear comparative data.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        900,
        300
      ],
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Company Analysis Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokens": 16000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1120,
        120
      ],
      "id": "f6a7b8c9-d0e1-4f5a-3b4c-5d6e7f8a9b0c",
      "name": "Claude for Company Analysis",
      "credentials": {
        "anthropicApi": {
          "id": "NasIdgbSm8kLTASn",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n  \"sector\": \"Sector name\",\n  \"companies\": [{\n    \"rank\": 1,\n    \"company_name\": \"Company name\",\n    \"ticker\": \"Stock ticker symbol\",\n    \"financial_metrics\": {\n      \"revenue\": \"Revenue figures and growth rate\",\n      \"fcf\": \"Free cash flow and FCF margin\",\n      \"debt_level\": \"Debt metrics and assessment\"\n    },\n    \"innovation_score\": {\n      \"rd_spending\": \"R&D spending and % of revenue\",\n      \"patents\": \"Patent count and quality\",\n      \"new_products\": \"Recent product launches\"\n    },\n    \"management_quality\": \"Assessment of management team and execution\",\n    \"risk_factors\": \"Key risks identified\",\n    \"institutional_ownership\": \"Major institutional investors\",\n    \"investment_thesis\": \"Why this company will lead the sector\",\n    \"scenarios\": {\n      \"optimistic\": \"Best case scenario 2-5 years\",\n      \"base\": \"Expected scenario 2-5 years\",\n      \"pessimistic\": \"Worst case scenario 2-5 years\"\n    },\n    \"valuation_multiples\": \"P/E, P/S, EV/EBITDA, etc.\"\n  }],\n  \"sector_winner\": \"Which company is best and why\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        480
      ],
      "id": "a7b8c9d0-e1f2-4a5b-4c5d-6e7f8a9b0c1d",
      "name": "Company Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Sector Analysis Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sector Analysis Chain": {
      "main": [
        [
          {
            "node": "Company Analysis Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude for Sector Analysis": {
      "ai_languageModel": [
        [
          {
            "node": "Sector Analysis Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sector Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Sector Analysis Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Claude for Company Analysis": {
      "ai_languageModel": [
        [
          {
            "node": "Company Analysis Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Company Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Company Analysis Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "simple_screener_template"
  },
  "id": "SimpleScreenerFlow",
  "tags": [
    {
      "id": "tag1",
      "name": "finance"
    },
    {
      "id": "tag2",
      "name": "analysis"
    },
    {
      "id": "tag3",
      "name": "investment"
    }
  ]
}
