templates/question_generator/question_generator_flow.json
{
  "name": "question_generator_flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -48
      ],
      "id": "7c088ad7-c96f-4a9b-bfc0-b877f59b666d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45cf4712-f11f-4e26-994d-aa29b67c6497",
              "name": "discipline ",
              "value": "Docker",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -48
      ],
      "id": "f1135afc-f3c3-48c9-b066-35028136a19b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate top 20 questions for educational porpose to stady: {{ $json['discipline '] }} descipline",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528,
        -48
      ],
      "id": "72d1f708-e5c4-4a18-a591-063f587a6142",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        -208
      ],
      "id": "ac4ce825-a017-4758-bf7f-5cd819d1cf48",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "o9p3XhzBZ8kAYA1W",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\"number\": \"num in the row of questions\",\n  \"question\": \"question text itself\",\n  \"difficulty\": \"from 1 to 3, question difficulty\"}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        160
      ],
      "id": "09a27006-84dd-4edb-a9f6-8a61646d9c5a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        480,
        160
      ],
      "id": "ab8a1a0a-c347-4843-be29-3e17f98947ac",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "NasIdgbSm8kLTASn",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2c22615-2bf5-49c5-8c53-7429996fbf5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c1a3524e3b86ff17eb4db106512c7ee8831ed43f9bdf32b2aa43da01542697d"
  },
  "id": "7cUlw8PC0HQPL8lw",
  "tags": [
    {
      "updatedAt": "2025-12-16T13:03:15.008Z",
      "createdAt": "2025-12-16T13:03:15.008Z",
      "id": "4cGMKdHJjWMZK1ZG",
      "name": "edu"
    },
    {
      "updatedAt": "2025-12-16T13:03:15.031Z",
      "createdAt": "2025-12-16T13:03:15.031Z",
      "id": "hmPD6pYmWcx55NQr",
      "name": "yurii"
    }
  ]
}